ansible_install_k8s_on_ubutun24/roles/kubernetes/files/bin/**
!ansible_install_k8s_on_ubutun24/roles/kubernetes/files/bin/.gitkeep

ansible_install_k8s_on_ubutun24/roles/kubernetes/files/packages/**
!ansible_install_k8s_on_ubutun24/roles/kubernetes/files/packages/.gitkeep
