! Configuration File for keepalived
 
global_defs {
   notification_email {
     acassen@firewall.loc
     failover@firewall.loc
     sysadmin@firewall.loc
   }
   notification_email_from Alexandre.Cassen@firewall.loc
   smtp_server 192.168.200.1
   smtp_connect_timeout 30
   router_id {{ inventory_hostname }}
   vrrp_skip_check_adv_addr
   #vrrp_strict 
   vrrp_garp_interval 0
   vrrp_gna_interval 0
   script_user root
   enable_script_security
}
 
vrrp_script check_port {
    script "/etc/keepalived/check_port.sh"
    interval 2
    weight -20
}
 
vrrp_instance VI_1 {
    {% if inventory_hostname == keepalived_master %}
    state MASTER
    {% else %}
    state SLAVE
    {% endif %}
    interface ens18
    virtual_router_id {{ keepalived_router_id }}
    priority 100
    advert_int 1
    nopreempt
    authentication {
        auth_type PASS
        auth_pass 123456789
    }
    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_netmask }} dev ens18 label ens18:0
    }
    track_script {
        check_port
    }
}
