[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=cri-docker.service
Requires=cri-docker.service

[Service]
ExecStart=/usr/local/kubernetes/kubelet \
    --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.kubeconfig  \
    --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
    --config=/etc/kubernetes/kubelet-conf.yml \
    --container-runtime-endpoint=unix:///run/cri-dockerd.sock  \
    --cgroup-driver=systemd \
    --node-labels=node.kubernetes.io/node=

[Install]
WantedBy=multi-user.target
